@use "sass:string";
@use "sass:math";
@use "sass:list";

.star-sky {
  $duration: 400s; // 星星闪烁时间
  $count: 500; // 生成星星数量
  $skyWidth: 100; // 屏幕宽度 100vw
  $skyHeight: 300; // 屏幕高度 300px

  width: string.unquote($skyWidth+'vw');
  height: string.unquote($skyHeight+'px');
  background-color: black;
  position: relative;
  overflow: hidden;

  @function getShadows($n) {
    // 生成阴影
    $n: math.floor($n);
    $shadows: '#{math.random($skyWidth)}vw #{math.random($skyHeight)}px #fff';

    @for $i from 2 through $n {
      $shadows: '#{$shadows} , #{math.random($skyWidth)}vw #{math.random($skyHeight)}px #fff';
    }

    @return string.unquote($string: $shadows);
  }

  @for $i from 1 through 3 {
    $duration: math.div($duration, 2);
    $count: math.div($count, 2);
    $size: #{$i}px;

    // $size: 30px;
    .layer#{$i} {
      position: absolute;
      left: 0;
      top: 0;
      background-color: #fff;
      margin: 10px;

      width: $size;
      height: $size;
      border-radius: 50%;
      box-shadow: getShadows($count);
      animation: moveUp $duration linear infinite;

      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: string.unquote($skyHeight+'px');
        width: $size;
        height: $size;
        background-color: #fff;
        border-radius: inherit;
        box-shadow: inherit;
      }
    }
  }

  @keyframes moveUp {
    0% {
      transform: translateY(0);
    }

    100% {
      transform: translateY(-300px);
    }
  }
}

.card-flip-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .card {
    position: relative;
    width: 200px;
    height: 200px;
    transition: transform 1s;
    perspective: 500px;
    transform-style: preserve-3d;

    &:hover {
      transform: rotateY(180deg);
    }

    .card-front,
    .card-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .card-front {
      background-color: green;
    }

    .card-back {
      background-color: orange;
      transform: rotateY(180deg);
    }
  }
}

.base {
  .btn {
    width: 200px;
    height: 80px;
    color: black;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }

  .btn::after {
    --w: 2px;
    content: '';
    position: absolute;
    width: calc(100% - var(--w) * 2);
    height: calc(100% - var(--w) * 2);
    top: var(--w);
    left: var(--w);
    z-index: -1;
    background-color: white;
    border-radius: inherit;
  }

  .btn::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: 50%;
    left: 50%;
    background-color: red;
    z-index: -2;
    animation: rotation 3s linear infinite;
    transform-origin: left top;
  }

  @keyframes rotation {
    to {
      transform: rotate(1turn);
    }
  }

  .text-div {
    .text-underline {
      //渐变背景从red到blue
      background: linear-gradient(to right, red, blue);
      background-repeat: no-repeat;
      background-size: 0px 2px;
      background-position: right bottom;
      transition: background-size 1s;
    }

    &:hover .text-underline {
      background-position: left bottom;
      background-size: 100% 2px;
    }
  }
}

.nine-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 200px;
  height: 200px;
  transition: .5s;
  gap: 4px;

  @for $i from 1 through 9 {
    .grid-item:nth-child(#{$i}) {
      background-color: hsl($i * 40, 100%, 70%); // 使用循环生成不同的颜色
    }

    &:has(.grid-item:nth-child(#{$i}):hover) {
      $r: math.floor(math.div($i - 1, 3) + 1);
      $c: ($i - 1) % 3 + 1;
      $arr: 1fr 1fr 1fr; // 初始化数组
      $rows: list.set-nth($arr, $r , 2fr); // 将第r行设置为2fr
      $cols: list.set-nth($arr, $c , 2fr); // 将第c列设置为2fr
      grid-template-rows: $rows;
      grid-template-columns: $cols;
    }
  }
}

.nine-grid-animate {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 200px;
  height: 200px;
  transition: .5s;
  gap: 4px;
  grid-template:
    "A A B"
    "C D B"
    "C E E"; // 定义网格布局
  --d: 360deg;
  animation: rotation 10s infinite linear;

  @for $i from 1 through 5 {
    .grid-item:nth-child(#{$i}) {
      $arr: "A" "B" "C" "D" "E"; // 初始化数组
      //根据索引取数组中的值
      grid-area: string.unquote(list.nth($arr, $i)); // 将第i个元素设置为对应的网格区域
      background-color: hsl($i * 40, 100%, 70%); // 使用循环生成不同的颜色
      overflow: hidden;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .grid-item img {
    width: 100%;
    height: 100%;
    scale: 3;
    object-fit: cover;
    animation: rotation 10s infinite linear;
  }

  @keyframes rotation {
    to {
      transform: rotate(var(--d));
    }
  }
}

.carousel {
  width: 100vw;
  border: 5px solid red;
  display: flex;
  overflow-x: auto;
  &.carousel-raf{
    overflow-x: hidden; /* 不允许原生滚动 */
    touch-action: none; /* 禁止浏览器手势滚动 */
    user-select: none;  /* 防止文字选中 */
  }
  &::-webkit-scrollbar{
    display: none;
  }
  .group{
    // width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    padding-right: 1em;
  }
  .animate{
    // padding-right: 1em;
    animation: spin 5s linear infinite;
  }
  .card{
    // flex: 0 0 100px; // 设置卡片宽度为5em
    width: 5em;
    height: 100px;
    background-color: cornflowerblue;
    border:solid 1px yellow;
    font-size: 20px;
    text-align: center;
    align-content: center;
    -webkit-text-size-adjust: 100%;
  }
  @keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
  }
}