name: Deploy to GitHub Pages

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  unit-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install
      - run: npm run test:ci

  e2e-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: npm install
      - run: npm run build:dev
      # serve 会自动在端口 3000 启动一个静态服务器来服务 out 目录。
      - run: npx serve@latest out &
      - run: npx wait-on http://localhost:3000
      - run: npm run cypress:run
      # - run: npm run test:e2e:prod
      # # &关键符号，表示后台运行这个命令，不会阻塞进程，可继续执行后续命令
      # - run: npm run start &
      # # 等待某个资源变(如URL、端口、文件)为可用状态
      # - run: npx wait-on http://localhost:3000
      # - run: npm run cypress:run
      
  build-and-deploy:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v4
        
    - name: Install dependencies
      # run: npm ci
      run: npm install
      # run: pnpm install --frozen-lockfile
      
    - name: Build
      run: npm run build
      env:
        NODE_ENV: production
        
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./out